.header {
    background-color: lightskyblue;
    padding: 20px;
}

.title, .date {
    text-align: center;
}

.inputTextBox {
    margin: 5px;
    background-color: lightgray;
    width: 50%;
    height: 40px;
}

.label {
    width: 25%;
    padding: 10px;
}

.save-btn {
    width: 10%;
    padding: 10px;
}

.main {
    align-content: center;
    text-align: center;
}

